[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
flask-restful = "*"
flask-jwt-extended = "*"
passlib = "*"
flask-sqlalchemy = "*"
mysqlclient = "*"
python-dateutil = "*"
numpy = "*"
networkx = "*"
flask-cors = "*"
flask-migrate = "*"
gunicorn = "*"
schedule = "*"
geocoder = "*"
psycopg2-binary = "*"


[dev-packages]

[requires]
python_version = "3.11"
